@{
    ViewBag.Title = "Ödipussy";
}
@if (ViewBag.Answer != null)
{
    <h4>Output</h4>
    <div class="alert alert-info">
        @Html.Raw(ViewBag.Answer)
    </div>
}
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <div class="form-horizontal">
        <h4>Zahl herausfinden</h4>
        <div class="form-group">
            <label class="col-md-2">Index</label>
            <div class="col-md-10">
                <input name="index" class="form-control" />
            </div>
        </div>
        <input type="submit" value="Herausfinden" class="btn btn-default" />
    </div>
}
<hr />
@if (ViewBag.Rules != null)
{
    <div class="form-horizontal">
        <h4>Vorhandene Regeln</h4>
        <p>Es sind derzeit @ViewBag.Rules.Count Regeln vorhanden</p>
        <a id="a-show-rules" class="btn btn-default">Regeln anzeigen</a>
    </div>
    <div id="div-rule" class="hidden">
        <table class="table">
            <tr>
                <th>Regeltyp</th>
                <th>Regeltrigger</th>
            </tr>
            @foreach (var rule in ViewBag.Rules)
            {
                <tr>
                    <td>
                        @rule.GetType().ToString()
                    </td>
                    <td>
                        @rule.Regex
                    </td>
                </tr>
            }
        </table>
    </div>
    <hr />
}
@using (Html.BeginForm("AddRule", "Home", FormMethod.Post))
{
    <div class="form-horizontal">
        <h4>Neue Regel</h4>
        <div class="form-group">
            <label class="col-md-2">Regeltyp</label>
            <div class="col-md-10">
                <select name="rule" class="form-control">
                    <option value="NumberSubsitutionRule">
                        Zahl mit Zahl ersetzen
                    </option>
                    <option value="WordSubstitutionRule">
                        Zahl mit Wort ersetzen
                    </option>
                    <option value="DigitSubstitutionRule">
                        Ziffer ersetzen
                    </option>
                    <option value="NumberCalculationRule">
                        Zahl verändern
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="alert alert-info">
                <ul>
                    <li>Index ist $x</li>
                    <li>Boolsche Terme mit =,&gt;,&lt;; and, or und not</li>
                    <li>Mathematische Formeln inkl. Klammern erlaubt</li>
                    <li>
                        Funktionen
                        <ul>
                            <li>
                                contains(string, string)
                            </li>
                            <li>
                                digitsum(int)
                            </li>
                            <li>
                                abs(int)
                            </li>
                            <li>
                                isprime(int)
                            </li>
                            <li>
                                iseven(int)
                            </li>
                        </ul>
                    </li>
                </ul>
                Beispiel: "Jede Zahl der 3er Reihe +2 rechnen"<br />
                Wähle "Zahl verändern", Trigger ist "$x%3=0", Input ist "$x+2"
            </div>
            <label class="col-md-2">Regeltrigger</label>
            <div class="col-md-10">
                <input type="text" name="regex" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">Regelinput</label>
            <div class="col-md-10">
                <input type="text" name="ruleData" class="form-control" />
            </div>
        </div>
        <input type="submit" value="Hinzufügen" class="btn btn-success" />
    </div>
}
<hr />
<h4>Spiel Zurücksetzen</h4>
@Html.ActionLink("Spiel zurücksetzen", "ResetGame", "Home", null, new { @class = "btn btn-danger" })

@section Scripts{
    <script>
        $('#a-show-rules').on("click", function () {
            $('#div-rule').toggleClass("hidden");
        });
    </script>
}